<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar navbar-right">
      <% if user_signed_in? %>
        <ul id="faded"><%= link_to "logout", destroy_user_session_path(@user), method: :delete %></ul>
      <% else %>
        <ul><%= link_to "login", new_user_session_path %></ul>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
        <ul><%= link_to "tags", tags_path %></ul>
      <% end %>
    </div>
  </div>
</nav>
